/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');
*{
  list-style: none;
  box-sizing: border-box;
}
.gallery {
margin: 24px auto;
  display: flex;
flex-wrap: wrap;
max-width: 1128px;
gap: 24px;
  padding-inline-start: 0px;
}

.gallery-image{
width: 360px;
height: 200px;
}
.gallery-image {
cursor: pointer;
}